* {
    margin: 0;
    padding: 0;
}

.imagem {
    position: absolute;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}